.page .intro-text {
    color: #fff;
    margin-bottom: 4rem;
    width: 70vw;
    margin: 0 auto;

    h1 {
        text-transform: uppercase;
        color: #fff;
        font-size: 1.9rem;
        font-weight: lighter;
    }

    .astro-rewards-image {
        text-align: center !important;
    }
}

.page .reward-program-text {
    color: #fff;
    margin-bottom: 4rem;
    width: 70vw;
    margin: 0 auto;

    h2 {
        font-size: 2rem;
        font-weight: lighter;
        line-height: 1.4;
        margin-bottom: 1rem; 
    }

    ul {
        list-style: disc;

        li {
            text-transform: none;
            font-size: 1.2em;
        }
    }
}

.page .astro-referral-text {
    color: #fff;
    margin-bottom: 4rem;
    width: 70vw;
    margin: 0 auto;

    h2 {
        font-size: 2rem;
        font-weight: lighter;
        line-height: 1.4;
        margin-bottom: 1rem; 
    }

    ul {
        list-style: disc;

        li {
            text-transform: none;
            font-size: 1.2em;
        }
    }
}

.page .astro-rewards-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;

    button {
        background-color: #000;
        padding: 1rem 2rem;
        border: 1px solid #fff;
        border-radius: 15px;

        a {
            font-size: 1.5rem;
            font-weight: lighter;
            letter-spacing: 2px;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
        }
    }

    button:hover {
        background-color: #e2f1c3;

        a {
            color: #000;
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .title-ASTROREWARDS {
        font-size: 2.6em !important;
    }

    .page .intro-text {
        width: 80vw;
    }

    .page .reward-program-text, .page .reward-program-text h2 {
        font-weight: bolder;
    }

    .page .reward-program-text, .page .reward-program-text ul li {
        font-weight: lighter;
    }

    .page .reward-program-text, .page .astro-referral-text h2 {
        font-weight: bolder;
    }

    .page .reward-program-text, .page .astro-referral-text ul li {
        font-weight: lighter;
    }

    .page .reward-program-text, .page .astro-referral-text p {
        margin-bottom: 2rem;
    }
}