.product-selection {
    height: 100%;
    width: fit-content;
}

.product-selection .products li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.product-selection .products img {
    width: 100%;
    max-width: 75px;
}

.product-selection .products li .product-form form {
    display: none;
}

.product-selection .products .product-form .product-options {
    display: none;
}


.product-selection .products .product-form .quantity-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.product-selection .products .product-form .quantity-container button {
    cursor: pointer;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .product .product-image {
        height: auto !important;
        width: auto !important;
    }

    .product .product-image img {
        min-width: unset !important;
        min-height: unset !important;
    }

    .product .byob-styled-container {
        width: 95%;
        margin: 0 auto;
    }

    .product .byob-styled-container .product-selection .products .product-form {
        width: 200px;
    }

    .product .byob-styled-container .product-selection .products .product-form .quantity-container input {
        width: 100px;
    }
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;

    @media only screen and (max-width: 1700px) {
        display: block;
    }
}