.product-selection {
    height: 100%;
    width: fit-content;
}

.product-selection .products li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.product-selection .products img {
    width: 100%;
    max-width: 75px;
}

.product-selection .products li .product-form form {
    display: none;
}

.product-selection .products .product-form .product-options {
    display: none;
}


.product-selection .products .product-form .quantity-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.product-selection .products .product-form .quantity-container button {
    cursor: pointer;
}