.header {
    background-color: #000;
    backdrop-filter: blur(50px);
    border-bottom: 1px solid #fff;
    position: relative;
}

.header .header-logo {
    img {
        width: 200px;
        filter: invert(100%);
    }
}

.header .header-menu-desktop {
    align-items: center;
    margin: 0 auto;
    width: 100%;
    justify-content: center;

    a {
        white-space: nowrap;
        color: #fff !important;
    }

    a:hover {
        color: #e2f1c3 !important;
    }

    .dropdown-content {
        position: absolute;
        z-index: 998;
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        border: 1px solid #fff;
        border-top: none;
        opacity: 0;
        pointer-events: none;

        .header-menu-item {
            padding: 0.5rem;
            border-bottom: 1px solid #fff;
            background-color: #000;

            &:hover {
                background-color: #e2f1c3;
                color: #000 !important;
            }
        }
    }

    .dropdown-content.active {
        opacity: 1;
        margin-top: 2.5vh;
        pointer-events: all;
        transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
    }
}

.header-menu-item p {
    cursor: pointer;
}

.header-ctas {
    a {
        color: #fff !important;
        white-space: nowrap;
    }

    img {
        max-width: 25px;
        min-width: 20px;
    }
}

.mobile-ctas {
    display: flex;
    width: 100vw;
    justify-content: center;
    border-bottom: 1px solid #e2f1c3;
}

.mobile-ctas a {
    margin: .5rem;
    transform: scale(0.9);
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .header-ctas .desktop-cta {
        display: none;
    }
}