.hero-section {
    height: 100vh;
}

.hero-section h1 {
    text-align: center;
    display: flex;
    min-width: 800px;
    font-weight: initial;
    line-height: normal;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .hero-section h1 {
        font-size: 1em !important;
        min-width: 200px;
    }

    .hero-section h1:nth-child(1) {
        transform: translateX(-55%) !important;
    }

    .hero-section h1:nth-child(2) {
        transform: translateX(-55%) !important;
        min-width: 300px !important;
    }
}